@import "styles/mixins.scss";
@import "styles/variables.scss";

body {
  background-color: black;
}

.projects-box {
  margin: auto;
  margin-top: 10%;
  border-radius: 25%;
  border-color: $text-light;
  border-width: 5px;
}

.projects-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background-color: $project-table-background;
  color: $text-light;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $text-light;

}

thead {
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.projects-box-footer {
  display: flex;
  align-items: flex-end;
  height: 100px;
  background-color: $project-table-background;
  color: $text-light;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid $text-light;
}