@import "styles/mixins.scss";
@import "styles/variables.scss";

.projects-box {
  width: 70%;

  margin: auto;
  margin-top: 10%;
  border: black;
  border-radius: 25%;
  border-color: $text-light;
  border-width: 5px;
}

.projects-box-header {
  height: 50px;
  background-color: $project-table-background;
  color: $text-light;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-color: $text-light;
  border-width: 5px;
}

.projects-box-footer {
  height: 50px;
  background-color: $project-table-background;
  color: $text-light;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: $text-light;
  border-width: 5px;
}