.ticket__form {
  margin-top: 2.5rem;
}

.input-labels {
  font-size: 1.4rem;
  color: #A29F9F;
  letter-spacing: 0.07rem;
  margin-top: 2rem;
}

.form__header {
  font-size: 1.3rem;
  color: #A29F9F;
  letter-spacing: 0.06rem;
}

// .lease-form-input {
//   height: 3.2rem;
// }

.dual__input {
  display: flex;
}

.space {
  margin-right: 1.2rem;
}

.spaces {
  margin-right: 1.9rem;
}
.submit_btn {
  background-color: #4D45B5 !important;
  color: #FFFFFF !important;;
  padding: 0.7rem 5rem !important;;
  margin-top: 2rem;
  border-radius: 0.5rem !important;
  font-size: 1.5rem !important;
}
.button-container {
  display: flex;
  justify-content: center;
}

.form-inputs {
  background-color: #212129 !important;
  color: #A29F9F !important;
}

.input-select {
  color: #A29F9F;
}
