
.chart_card {
  padding-left: 1rem;
  background-color: #464444;
  border-radius: 1em;
  width: 30rem;
  max-height: 20rem;
  margin-top: 5rem;
  margin-right: 1rem;
  border: 0.5px solid #707070;
  box-shadow: 5px 5px 10px #888888;
  z-index: 1;
}

.chart-container {
  width: auto;
  width: 22rem;
  height:16rem;
  margin: 0;
}

.chart_header {
  display: flex;
  padding: 1rem;
  color: #BCBABA;
  height: 3.5rem;
  border-bottom: 1px solid #707070;
  font-size: 1.3rem;
}


