

@import "../styles/mixins.scss";
@import "../styles/variables.scss";


.list {
  &__item {
     @include fade;

    color: $text-light;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $project-table-background;
    font: $font-family;
    justify-content: space-between;
    border-color: $text-light;
    border: 0.1px solid $text-light;
   

    &:hover {
      background-color: $hover-color;
      cursor: pointer;
      color: $text-light;
      
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $text-dark;

      &:hover {
        background-color: darken($white, 5%);
        color: $text-dark;
      }
    }
  }
}

.Progress-Bar {
  width: 100%;
}
.Plan-bar{
  width: 100%
}