@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.topbar {
  background-color: $page-dark-background;
}

.user {
  color: #4D45B5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-bottom: 3px solid #707070;
  font-size: 20px;
}

.navitems {
  color: $text-light;
  &:hover {
    color: $hover-color;
    cursor: pointer;
    color: $text-light;
  }
}

.closebutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navfooter {
  font-size: small;
  color: $text-light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
