@import "../styles/mixins.scss";
@import "../styles/variables.scss";

table {
  background-color: $project-table-background;
}

th {
  color:$text-light !important;
  
}

.tabletitle {
  text-transform: uppercase;
  cursor: default;
}

td {
  color:$text-light !important;
}


.tabledata {
  color:$text-light !important;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
    color: $text-light;
    opacity: 0.9;
  }

}

.more-options {
  z-index: 1;
}