@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.topdash {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
}

.bottomdash {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: $project-table-background;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 80px;
  border-left: 1px solid $text-light;
  border-bottom: 1px solid $text-light;;
  border-right: 1px solid $text-light;
}

.dashbuttons {
  display: flex;
  margin-left: 2em;
  justify-content: space-between;
  color: $white;
  margin-bottom: 0.8em;
}

.buttons {
  display: flex;
}

.dash {
  margin: 1%;
  
}