@import "../styles/mixins.scss";
@import "../styles/variables.scss";

table {
  background-color: $project-table-background;
}

th {
  color:$text-light !important;
  
}

.tabletitle {
  text-transform: uppercase;
}

td {
  color:$text-light !important;
}


.tabledata {
  color:$text-light !important;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
    color: $text-light;
    cursor: pointer;
  }

}

tr {

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
    color: $text-light;
    
  }
}