.select--page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  // background-color: #08071D;
  // opacity: 0.7;
  
}

.button__header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h2 {
  color: white;
  letter-spacing: 0.05rem;
}
h4 {
  color: white;
  letter-spacing: 0.05rem;
}

.top-logo {
  display: flex;
  position: absolute;
  margin: 1rem 2rem;
}

.logo-circle {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #4D45B5;
  border-radius: 50px;
  margin-right: 0.6rem;
}

body {
  background: url("../../src/images/select-page-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opaque-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:rgba(0,0,0,0.6);
}

