.select--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  // background-color: #08071D;
  // opacity: 0.7;
  
}

.button__header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.page-control  {
  color: white;
  letter-spacing: 0.05rem;
}
h4 {
  color: white;
  letter-spacing: 0.05rem;
}

.top-logo {
  display: flex;
  position: absolute;
  margin: 1rem 2rem;
}

.logo-circle {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #4D45B5;
  border-radius: 50px;
  margin-right: 0.6rem;
}
.logo-circle-big {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #4D45B5;
  border-radius: 50px;
  margin-right: 0.6rem;
}



.opaque-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:rgba(0,0,0,0.8);
}

.git-icon {
  margin-right: 1rem;
}

.signup-label {
  display: flex;
}

.action__buttons {
  display: flex;
  flex-direction: column;
}

.register_btn {
  background-color: #4D45B5 !important;
  color: #FFFFFF !important;;
  padding: 0.5rem 3rem !important;;
  margin-top: 2rem;
  border-radius: 0.5rem !important;
  font-size: 1.5rem !important;
}

.login__header {
  color: #DEDBDB;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.image-box {
  background: url("../../src/images/software-page-image.jpg") no-repeat center center fixed;
  background-size: cover;

  /* Here's the same styles we applied to our content-div earlier */

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}