@import "../styles/mixins.scss";
@import "../styles/variables.scss";

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.projects-box-footer {
  display: flex;
  align-items: flex-end;
  height: 80px;
  background-color: $project-table-background;
  color: $text-light;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid $text-light;
}

.projects-box-header {
  display: flex;
  align-items: flex-end;
  height: 70px;
  background-color: $project-table-background;
  color: $text-light;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $text-light;
}

.super-head {
  margin-left: 20px;
  margin-bottom: 20px;
  color: $text-light
}

.new-ticket{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
  margin-bottom: 10px;

}

.tick-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}