

@import "../styles/mixins.scss";
@import "../styles/variables.scss";


.ticket-list {
  &__item {
     @include fade;

    color: #262525;
    height: 1.5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:hover {
      background-color: #4D45B5;
      cursor: pointer;
      color: $page-dark-background;
      
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $page-dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }
  }
}
