@import "../styles/mixins.scss";
@import "../styles/variables.scss";

table {
  background-color: $project-table-background;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $text-light 
}

th {
  color:$text-light !important;
  cursor: pointer;
  border-top: 1px solid $text-light;
  
}

.tabletitle {
  text-transform: uppercase

}

td {
  cursor: pointer;
  color:$text-light !important;

}

tr {
  border-right: 1px solid $text-light !important;
  border-left: 1px solid $text-light !important;
  border-right: 1px solid $text-light !important;
  
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
    color: $text-light;
    
  }
}

.tabletit {


  &:hover {
    background-color: $project-table-background;
    cursor: auto;
  }

}

