@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.topdash {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  background-color: $page-dark-background;
}

.bottomdash {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: $project-table-background;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 80px;
  border-left: 1px solid $text-light;
  border-bottom: 1px solid $text-light;
  border-right: 1px solid $text-light;
}

.dashbuttons {
  display: flex;
  justify-content: space-between;
  color: $white;
}

.buttons {
  display: flex;
  padding-bottom: 1rem;
}

.projects-box {
  margin: auto;
  margin-top: 10%;
  border-radius: 25%;
  border-color: $text-light;
  border-width: 5px;
}

.projects-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background-color: $project-table-background;
  color: $text-light;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $text-light;
}

thead {
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.projects-box-footer {
  display: flex;
  align-items: flex-end;
  height: 100px;
  background-color: $project-table-background;
  color: $text-light;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid $text-light;
}

.active--view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393941;
  margin-right: 1rem;
  border-radius: 0.2rem;
  border: 0.3px solid #707070;
  padding: 0.4rem 0.7rem;
}
