$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$page-dark-background: #08071D;
$nav-background: #212129;
$project-table-background: #262525;
$pie-chart-background: #464444;
$form-background: #4A474B;
$ticket-details-background: #585858;


$hover-color: #4D45B5;
$green-progress-bar: #6AD650;
$orange-progress-bar: #D6A850;
$red-progress-bar: #EF3C3C;
$primary-button: #4D45B5;
$secondary-button: #AD1913;
$chart-purple-color: #4D45B5;
$selected--color: #949292;





$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;
